RR/pkgs/Wadl/ReimburseApproveMail.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="ReimburseApproveMail" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="ReimburseApproveMail" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_email_def" />
      <string name="ManualTriggerInput_text_def" />
      <number name="ManualTriggerInput_number_def" />
      <number name="ManualTriggerInput_number_1_def" />
      <number name="ManualTriggerInput_number_2_def" />
      <string name="ManualTriggerInput_email_1_def" />
      <object name="ManualTriggerInput">
        <property name="email" type="string" />
        <property name="text" type="string" />
        <property name="number" type="number" />
        <property name="number_1" type="number" />
        <property name="number_2" type="number" />
        <property name="email_1" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="email" path="/email" type="xs:string" required="true">
              <doc title="Email" />
            </param>
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="RequestStatus" />
            </param>
            <param style="plain" name="number" path="/number" type="xs:double" required="true">
              <doc title="Total Amount" />
            </param>
            <param style="plain" name="number_1" path="/number_1" type="xs:double" required="true">
              <doc title="Approved Amount" />
            </param>
            <param style="plain" name="number_2" path="/number_2" type="xs:double" required="true">
              <doc title="Rejected Amount" />
            </param>
            <param style="plain" name="email_1" path="/email_1" type="xs:string" required="true">
              <doc title="Manager" />
            </param>
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>